<!DOCTYPE html>
<body>
  <h1>Sign Up Below:</h1>

  <form action="/registrations" method="post">
    <p>
      <b>
        <label for="name">Name:</label>
      </b>
      <input name="name" type="text" />
    </p>
    <p>
      <b>
        <label for="email">Email:</label>
      </b>
      <input name="email" type="email" />
    </p>
    <p>
      <b>
        <label for="password">Password:</label>
      </b>
      <input name="password" type="password" />
    </p>
    <input type="submit" value="Sign Up" />
  </form>
</body>
